<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kelly Bootstrap Template - Index</title>
  <meta content="Angular Front-end developer portfolio" name="description">
  <meta content="front-end web developer, front-end junior, portfolio, Maria Cassandra, Marja Reponen" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>

<body>
  <app-header></app-header>
  <div  class="container">
      <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  
</body>

</html>