<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>I am currently looking for a Front-end Developer job opportunity that will
          allow me to work alongside an expert team of developers, thereby helping to
          drive my career progression to more senior roles in the future.
          </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Marja Reponen</h4>
            <p><em>Knowledgeable Junior Frontend Developer with Tourism and Hospitality Management background and passion for creating personalized travel itineraries. Always eager to learn and grow, I enjoy taking on projects that take me out of my comfort zone and learn how to manage challenging projects or tasks from start to finish.</em></p>

            <ul>
              <li>Barcelona, Spain</li>
              <li>maria.cassandra@gmail.com</li>
            </ul>

          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Front-end Developer Bootcamp</h4>
            <h5>01/2021 - 06/2021</h5>
            <p><em>IT Academy, Barcelona, Spain</em></p>
            <p>Six-month intensive full time Front-end Developer Bootcamp. IT Academy provides students with tools and pedagogy to guide them towards autonomy, responsibility and commitment to their professional success.</p>
          </div>
          <div class="resume-item">
            <h4>Master of Revenue Management</h4>
            <h5>01/2018 - 12/2018</h5>
            <p><em>Hotello, Barcelona, Spain</em></p>
            <p>During the one year program Hotello provided advanced techniques and modern tools, to be prepared to devise comprehensive, company-wide revenue management strategies.</p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Science in Tourism Management</h4>
            <h5>2004 - 2007</h5>
            <p><em>Haaga-Helia University, Helsinki, Finland</em></p>
            <p>Three-year degree program related to the fields of hospitality and tourism education. The program led to expertise in management of tour-operating agencies, as well as other jobs in the travel, events and hotel sector.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Account Manager</h4>
            <h5>01/2018 - Present</h5>
            <p><em>Regus, Barcelona, Spain </em></p>

            <ul>
              <li>Establishing, maintaining and developing relationships with incoming or current clients.</li>
              <li>Managing the entire sales process from lead hunting up until final transaction. </li>
              <li>Researching each market work spaces to prepare most fitting business proposals towards clients.</li>
            </ul>

          </div>
          <div class="resume-item">
            <h4>Reservations executive</h4>
            <h5>2017 - 2017</h5>
            <p><em>Hotel ICON BCN and Petit Palace, Barcelona, Spain</em></p>
           
                <ul>
                  <li>Deal efficiently and politely with phone, email, internet and ‘in person’
                    enquiries.</li>
                  <li>Ensure that all reservations are recorded following established procedures with full
                    and clear information and that they are inputted accurately and promptly onto the
                    system.</li>
                <li>Maximize revenue by converting enquiries, recognising business prospects and
                  opportunities to upsell venue services.</li>
                <li>Quotate groups and events, perform follow ups, control release, prepare contracts and proformas.</li>
                </ul>
            
          </div>

          <div class="resume-item">
            <h4>Frontdesk Agent</h4>
            <h5>02/2016 - 02/2017</h5>
            <p><em>H10, Barcelona, Spain</em></p>
           
                <ul>
                <li>Receptionist duties (reservations, changing rates, customer assistance, billing).</li>
                <li>Mentored interns and also new colleagues.</li>
                </ul>
            
          </div>

          <div class="resume-item">
            <h4>Reservations executive and Frontdesk Agent</h4>
            <h5>02/2015 - 02/2016</h5>
            <p><em>Hotel Grums, Barcelona, Spain</em></p>
           
                <ul>
                <li>Ensure that all reservations are recorded following established procedures with full
                  and clear information and that they are inputted accurately and promptly onto the
                  system.</li>
                <li>Receptionist duties (reservations, changing rates, customer assistance, billing).</li>
                </ul>
            
          </div>

          <div class="resume-item">
            <h4>Reservations executive and Frontdesk Agent</h4>
            <h5>12/2013 - 12/2014</h5>
            <p><em>Hotel Pulitzer, Barcelona, Spain</em></p>
           
                <ul>
                  <li>Ensure that all reservations are recorded following established procedures with full
                    and clear information and that they are inputted accurately and promptly onto the
                    system.</li>
                  <li>Receptionist duties (reservations, changing rates, customer assistance, billing).</li>
                </ul>
            
          </div>

          <div class="resume-item">
            <h4>Groups and Events Coordinator</h4>
            <h5>12/2013 - 12/2014</h5>
            <p><em>Hotel NH Condor, Barcelona, Spain</em></p>
           
                <ul>
                  <li>Quotated groups and events, did follow ups, controlled release, prepared contracts and proformas. </li>
                  <li>Conducted site inspections with travel agencies. </li>
                  <li>Mentored interns and also new colleagues.</li>
                </ul>
            
          </div>

          <div class="resume-item">
            <h4>Frontdesk Agent</h4>
            <h5>04/2010 - 04/2013</h5>
            <p><em>Hotel Royal Ramblas, Barcelona, Spain</em></p>
           
                <ul>
                  <li>Receptionist duties (reservations, changing rates, customer assistance, billing).</li>
                  <li>Conducted site inspections with travel agencies. </li>
                  <li>Mentored interns and also new colleagues.</li>
                </ul>
            
          </div>
        </div>
      </div>

    </div>
</section>